[submodule "thinwall"]
	path = src/ptopo/external/thinwall
	url = https://github.com/herrwang0/thin-wall-topography.git
	branch = stereographic
[submodule "nsidc0756"]
	path = src/ptopo/external/nsidc0756
	url = https://github.com/nsidc/nsidc0756-scripts.git
