[submodule "regrid/external/thinwall"]
	path = regrid/external/thinwall
	url = https://github.com/herrwang0/thin-wall-topography.git
	branch = stereographic
[submodule "regrid/external/nsidc0756"]
	path = regrid/external/nsidc0756
	url = https://github.com/nsidc/nsidc0756-scripts.git
